env:
  contexts:
    - name: "api-context"
      urls:
        - "http://localhost:5000"

jobs:
  - type: openapi
    parameters:
      apiFile: "/zap/wrk/openapi.yaml"
      targetUrl: "http://localhost:5000"
      context: "api-context"

  - type: replacer
    parameters:
      deleteAllRules: true
      rules:
        - description: "Add auth header"
          matchType: "req_header"
          matchString: "Authorization:"
          replacementString: "Authorization: ${ADMIN_PASSWORD}"
          tokenProcessing: true

  - type: passiveScan-wait

  - type: activeScan
    parameters:
      context: "api-context"
      policy: "Default policy"
