env:
  contexts:
    - name: "api-context"
      urls:
        - "http://localhost:5000"

  parameters:
  failOnError: true
  failOnWarning: false
  globalHttpHeaders:
    - name: "Authorization"
      value: "${ADMIN_PASSWORD}"

jobs:
  - type: openapi
    parameters:
      apiFile: "/zap/wrk/openapi.yaml"
      targetUrl: "http://localhost:5000"
      context: "api-context"

  - type: passiveScan-wait

  - type: activeScan
    parameters:
      context: "api-context"
      policy: "Default policy"
